body{background:#0f0f0f;color:#fff;font-family:Arial;margin:0}
header{background:#111;padding:10px;text-align:center}

.layout{display:flex}

.sidebar{width:160px}

.movies{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
gap:10px;
padding:10px;
}

.movie{background:#1a1a1a;cursor:pointer}
.movie img{width:100%}

.ad{display:flex;justify-content:center;margin:10px}

/* MOBILE */
@media(max-width:768px){
.sidebar{display:none}
}

/* STICKY */
.sticky-ad{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:center;
background:#000;
z-index:999;
}